.calculator
    .calculation-area
        h2 Калькуляция по области
        label(for="km-input") Количество километров (1 км - 100 рублей):
        input#km-input.input(type="number" min="0")

        label(for="floors-input") Этажность (1 этаж - 300 рублей):
        input#floors-input.input(type="number" min="0")

        p Итого сумма: 
            span#total-area 0
            |  рублей
        button#order-area.order-btn(data-service="Транспортная услуга по области") Заказать

    .calculation-kaliningrad
        h2 Калькуляция по Калининграду
        p Перевозки: 3000 рублей

        label(for="floors-kln-input") Этажность (1 этаж - 300 рублей):
        input#floors-kln-input.input(type="number" min="0")

        p Итого сумма: 
            span#total-kln 3000
            |  рублей
        button#order-kln.order-btn(data-service="Транспортная услуга по Калининграду") Заказать

    