// Контейнер для кнопки и всплывающего окна
div#contact-container
  // Кнопка с иконкой телефона
  button#contact-btn
    i.fa.fa-phone

  //- // Всплывающее окно с контактами
  //- div#contact-info(style="display: none;")
  //-   p Телефон: 
  //-     span.clickable#phone-number() +7 921 711 2494
  //-   p Telegram: 
  //-     span.clickable#telegram() https://t.me/aleks19899
  //-   p Viber: 
  //-     span.clickable#viber() https://viber.click/79217112494
  //-   p WhatsApp: 
  //-     span.clickable#whatsapp() wa.me/+79217112494
  //-   p Почта: 
  //-     span.clickable#email() aleksandrovevg09@rambler.ru

    // Всплывающее окно с контактами
  div#contact-info(style="display: none;")
    p Телефон: 
      span.clickable#phone-number +7 921 711 2494
    p Telegram: 
      a.clickable#telegram(href="https://t.me/aleks19899" target="_blank") https://t.me/aleks19899
    p Viber: 
      a.clickable#viber(href="https://viber.click/79217112494" target="_blank") https://viber.click/79217112494
    p WhatsApp: 
      a.clickable#whatsapp(href="https://wa.me/+79217112494" target="_blank") https://wa.me/+79217112494
    p Почта: 
      span.clickable#email aleksandrovevg09@rambler.ru


  // Всплывающее уведомление о копировании
//-   div#notification(style="display: none;")
//-     p Скопировано!
