footer
  .footer-container
    .footer-links
      a(href="#about-us") О НАС
      a(href="#services") УСЛУГИ
      a(href="#portfolio") ПОРТФОЛИО
    .footer-info
      p Телефон: +7 (900) 123-45-67
      p &copy; 2024 ИП Александрв
