// components/nav.pug
nav.navbar
  .navbar-container
    a.nav-item(href="/about") О НАС
    a.nav-item(href="/services") УСЛУГИ
    a.nav-item(href="/portfolio") ПОРТФОЛИО
    //- a.nav-item(href="/logout") ВЫХОД

