// components/nav.pug
nav.navbar
  
  img(src="images/kln-logo.jpg", alt="", srcset="")
  .navbar-container
    a.nav-item(href="/about") О НАС
    a.nav-item(href="/services") УСЛУГИ
    a.nav-item(href="/portfolio") ПОРТФОЛИО
    //- a.nav-item(href="/logout") ВЫХОД

