#bus {
    max-width: 50%; /* Используем полную ширину контейнера */
    aspect-ratio: 16/9; /* Прямоугольное горизонтальное соотношение сторон */
    height: auto;
    object-fit: cover; /* Чтобы обрезать лишнее, если нужно */
    border-radius: 12px; /* Слегка скруглим углы */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Увеличенная тень для выделения */
    margin: 20px auto; /* Центрируем фотографию */
    display: block; /* Для корректного отображения */
  
}
a, button {
    display: block;
    /* margin-bottom: 10px; Расстояние между элементами */
  }
  
